<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/
javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/
javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>DeadDrop Server</display-name>

	<servlet>
		<servlet-name>DropServlet</servlet-name>
		<servlet-class>com.github.ayelix.deaddrop.server.DropServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PickupServlet</servlet-name>
		<servlet-class>com.github.ayelix.deaddrop.server.PickupServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DropServlet</servlet-name>
		<url-pattern>/drop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PickupServlet</servlet-name>
		<url-pattern>/pickup</url-pattern>
	</servlet-mapping>

</web-app>	
